.avatars {
    max-width: 100%;
}
html body {
    margin: 0;
    padding: 0;
    width: 100%;
}
#addForm {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
    background-color: red;
}
#removeForm {
    width: 50%;
    padding: 0;
    margin: 0;
    float: right;
    background-color: aqua;
}