.avatars {
    max-width: 100%;
}
#addForm {
    width: 40%;
    padding: 0;
    display: inline-block;
    background-color: red;
    height: 200px;
    /*align: left;*/

}
#removeForm {
    width: 40%;
    padding: 0;
    display: inline-block;
    /*float: left;*/
    background-color: aqua;
    height: 200px;
    /*align: right;*/

}